{% extends "bookshelf/base.html" %}
{% block content %}
<div id="register" class="page active">
  <div class="auth-container">
    <h2>Create Your Account</h2>
  <form id="registerForm" method="post">
  {% csrf_token %}
      <div class="form-group">
        <label for="registerName">Full Name</label>
        <input type="text" id="registerName" name="name" required />
      </div>
      <div class="form-group">
        <label for="registerEmail">Email Address</label>
        <input type="email" id="registerEmail" name="email" required />
      </div>
      <div class="form-group">
        <label for="registerPassword">Password</label>
        <input type="password" id="registerPassword" name="password" required />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary btn-full">Register</button>
    </form>
    <div class="auth-switch">
      <p>
        Already have an account?
        <a href="{% url 'login' %}" >Login here</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
