{% extends "blog/auth/auth_base.html" %}

{% load static %}
{% block title %}Thank you for Reading{% endblock %}

{% block content %}
 <div class="auth-container">
       <div id="logoutPage">
            <div class="logout-container">
                <div class="logout-icon">👋</div>
                <div class="logout-message">
                    <h2>Successfully Logged Out</h2>
                    <p>Thank you for using our blog platform! Your session has been safely terminated. We hope to see you back soon with more amazing content to share.</p>
                </div>
                <button class="btn"><a href="{% url 'login' %}">Sign In Again</a></button>
            </div>
        </div>
</div>
{% endblock %}