{% extends "blog/pages/pages_base.html" %}

{% load static %}
{% block title %}Feeds{% endblock %}

{% block content %}

    <!-- Main Content -->
    <main class="main-container">
        <!-- Feed Section -->
        <section class="feed-section">
                        <div class="blog-posts">
                <article class="blog-post">
                    <div class="post-header">
                        <div class="author-avatar">  
                            <img src="{{ object.author.profile_image.url }}" alt="">
                        </div>
                        <div class="post-meta">
                            <div class="author-name">{{ object.author }}</div>    
                            <div class="author-username">@{{ object.author.username }}</div>
                            <div class="post-date">{{ object.published_date|date:"F d, Y" }} </div>
                        </div>
                    </div>
                    <div class="post-content">
                        <h2 class="post-title">{{ object.title }}</h2>
                        <p class="post-excerpt">
                           {{ object.content}} 
                        </p>
                        <div class="post-tags">
                            <a href="#" class="tag">Travel</a>
                            <a href="#" class="tag">Barcelona</a>
                            <a href="#" class="tag">Guide</a>
                        </div>
                    </div>
                    <div>
                        {% if object.author == user %}
                        <a href="{% url 'post-update'  object.id %}" style="color: green;"> Edit </a>
                        <a href="{% url 'post-delete'  object.id %}" style="color: red;"> Delete </a>

                        {% endif %}
                    </div>
                    <div class="post-actions">
                        <button class="action-btn" onclick="toggleLike(this)">
                            <span>❤️</span> <span class="count">42</span>
                        </button>
                        <button class="action-btn">
                            <span>💬</span> <span>18</span>
                        </button>
                        <button class=saction-btn" onclick="toggleBookmark(this)">
                            <span>🔖</span> Save
                        </button>
                        <button class="action-btn">
                            <span>🔗</span> Share
                        </button>
                    </div>
                </article>
            </div>
        </section>
        </main>
{% endblock %}